html{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #030d46;
}
.container{
    max-width: 1600px;
    background-color: #f6edfa;
    position: relative;
    padding: 20px 50px;
}
.bold{
    font-weight: bold;
}
 /*header*/
 .header{
    text-align: center;
 }
 .main-title{
    font-size: 40px;
 }
 .main-paragraph{
    fonte-style: italic;
 }
 /* Imagem destaque*/

 .featured-image{
    text-align: center;
    margin-top: 30px;
 }

 /* Biografia*/
 .biography-container{
    padding: 100px 0;
    margin: 25px o;
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
 }
 /* quotes */
 .quotes-container{
   background-color: #ddd;
   padding: 30px;
 }
 .quotes-container blockquote{
   font-weight: bold;
   font-size: 30px;
 }
 .quotes-container p{
   font-style: italic;
 }
 /* coriosidades */
 .curiosities-container{
   padding: 25px 0;
   margin: 25px 0;
   border-top: 1px dashed #ddd;
   border-bottom: 1px dashed #ddd;
 }
 .curiosities-container li{
   height: 30px;
 }

 /* imagem bold */

 .img-bold{
   font-weight: bold;
   text-align: center;
 }